<h1>Tour Events</h1>
<table mat-table [dataSource]="events" class="mat-elevation-z8">
    <!-- @for (column of displayedColumns; track column) {
        <ng-container [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef>{{column}}</th>
            <td mat-cell *matCellDef="let element">{{element[column]}}</td>
        </ng-container>
    } -->
    <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let event">
            <a mat-stroked-button href="/courses/{{event.course.id}}" color="primary">
                {{event.course.name}}
            </a>
        </td>
    </ng-container>

    <ng-container matColumnDef="Date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let event">{{event.date}}</td>
    </ng-container>

    <ng-container matColumnDef="Number of Players">
        <th mat-header-cell *matHeaderCellDef>Number Of Players</th>
        <td mat-cell *matCellDef="let event">{{event.scores.length}}</td>
    </ng-container>

    <ng-container matColumnDef="Details">
        <th mat-header-cell *matHeaderCellDef>Details</th>
        <td mat-cell *matCellDef="let event">
            <a mat-stroked-button href="/tour-events/{{event.id}}" color="primary">Details</a>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
</table>