<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <a mat-icon-button href="" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>home</mat-icon>
    </a>
    <div class="example-button-row">
        <a mat-stroked-button href="/leaderboard" color="primary">Leaderboard</a>
        <a mat-stroked-button href="/tour-events" color="primary">Tour Events</a>
    </div>
</mat-toolbar>